Setting relative URIs as Content-Location cause a 1001 comunication error

Hi,
very nice to see you now on github ;-)

If you set a Content-Location Header with rep.setLocationRef and the URI you are setting is relative, the connector failed to send the Response.

The following Code will reproduce the bug

``` java
import org.restlet.Component;
import org.restlet.Server;
import org.restlet.data.Protocol;
import org.restlet.representation.Representation;
import org.restlet.representation.StringRepresentation;
import org.restlet.resource.Post;
import org.restlet.resource.Put;
import org.restlet.resource.ResourceException;
import org.restlet.resource.ServerResource;

public class SimpleServer extends ServerResource {

    public static void main(String[] args) throws Exception {
        // Create the HTTP server and listen on port 80
        Component cmp = new Component();
        Server server = cmp.getServers().add(Protocol.HTTP, 80);
        server.getContext().getParameters().add("tracing", "true");

        cmp.getDefaultHost().attachDefault(SimpleServer.class);
        cmp.start();
    }

    @Post
    @Put
    public Object echoObject(Representation rep) throws ResourceException {
        Representation result = new StringRepresentation("{}");
        result.setLocationRef("/myResource");
        return result;
    }
}
```

And the following Output will be logged

```
Starting the internal [HTTP/1.1] server on port 80
POST / HTTP/1.1
Date: Sun, 06 May 2012 21:17:01 GMT
Content-Length: 2
Content-Type: text/plain; charset=UTF-8
Accept: */*
Host: localhost
User-Agent: Restlet-Framework/2.1rc4

{}2012-05-06    23:17:01    127.0.0.1   -   -   80  POST    /   -   200 2   2   62  http://localhost    Restlet-Framework/2.1rc4    -
2012-05-06  23:17:01    127.0.0.1   -   -   80  POST    /   -   1001    2   2   0   http://localhost    Restlet-Framework/2.1rc4    -
2012-05-06  23:17:01    127.0.0.1   -   -   80  POST    /   -   1001    2   2   0   http://localhost    Restlet-Framework/2.1rc4    -
```

Its realy suprising that you see 3 log entries by just sending one request...

My proposal is to add an similar implementation to Representation.setLocationRef as it is in Response.setLocationRef(String).

Thanks for your good work


The comment about Location needing to be absolute is out of date I think. In [RFC2616](https://www.ietf.org/rfc/rfc2616.txt) section 14.30 it is, indeed defined as an absolute URI. However, in [RFC7231 section 7.1.2](https://www.rfc-editor.org/rfc/rfc7231#section-7.1.2) it is allowed to be relative or absolute. I think all modern browsers will use the newer definition, see e.g. https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Location, https://www.mnot.net/blog/2014/06/07/rfc2616_is_dead and https://www.rfc-editor.org/rfc/rfc7231#appendix-B. This should mean a change in the HeaderUtils.addResponseHeaders code that uses getTargetRef to add the Location header.

The same code seems to be present in versions up to 3.0